<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<form action="/Register" method="post">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="username" name="username">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">

  <button>Register</button>
  <a href="/">Login</a>
</form>

</body>
</html>
